* {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
